/* :root{
  --height:440px
  --width:640px
} */

html {
  min-height: 100%;
  margin: 0;
  background-image: linear-gradient(to right, #131010, #2c2a2a);
}

.App {
  height: 97vh;
  width: 100%;
  color: black;
  display: grid;
  border-radius: 5px;
  place-items: center;
  grid-template-rows: 500px 500px;
  grid-template-columns: 320px 320px 320px 320px 320px 320px;
}

.dices {
  width: 30px;
  height: 30px;
  background-color: #41436a;
  border: solid 3px #646691;
  border-radius: 10px;
  color: white;
  font-size: 7px;
  -webkit-box-shadow: 16px 18px 38px 1px rgba(0, 0, 0, 0.52);
  box-shadow: 16px 18px 38px 1px rgba(0, 0, 0, 0.52);
}

.dices:hover {
  background-color: #2a3950;
  border: solid 3px #baa7a7;
  transition-timing-function: ease-in;
  transition-timing-function: ease-out;
  transition: 0.9s;
  transform: scale(1.1);
}

#buttons {
  display: flex;
  gap: 6px;
}

#number {
  width: 220px;
  height: 110px;
  place-items: center;
  font-weight: bold;
  font-size: 60px;
  color: #974063;
  display: grid;
  text-shadow: 8px 6px 5px rgb(0 0 0 / 43%);
}

#btndices {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-row-start: 2;
  grid-column-start: 5;
}

.Deck {
  color: red;
  height: 309px;
  width: 222px;
  display: grid;
  grid-row-start: 2;
  grid-column-start: 6;
}

.cube {
  height: 320px;
  width: 220px;
}

.face {
  box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.1);
  height: 223px;
  width: 159px;
  background-image: url("images/med.png");
  background-repeat: no-repeat;
  background-size: cover;
}
