html {
  min-height: 100%;
  margin: 0;
  background-image: linear-gradient(to right, #f54768, #ff9678);
}

.App {
  height: 97vh;
  width: 100%;
  color: black;
  display: grid;
  border-radius: 5px;
  place-items: center;
  grid-template-rows: auto 150px;
  grid-template-areas: "Animated" "Footer";
}

.dices {
  width: 30px;
  height: 30px;
  background-color: #41436a;
  border: solid 3px #646691;
  border-radius: 10px;
  color: white;
  font-size: 7px;
  -webkit-box-shadow: 16px 18px 38px 1px rgba(0, 0, 0, 0.52);
  box-shadow: 16px 18px 38px 1px rgba(0, 0, 0, 0.52);
}

.dices:hover {
  background-color: #2a3950;
  border: solid 3px #baa7a7;
  transition-timing-function: ease-in;
  transition-timing-function: ease-out;
  transition: 0.9s;
  transform: scale(1.1);
}

#buttons {
  display: flex;
  gap: 6px;
}

#number {
  width: 220px;
  height: 110px;
  place-items: center;
  font-weight: bold;
  font-size: 60px;
  color: #974063;
  display: grid;
  text-shadow: 8px 6px 5px rgb(0 0 0 / 43%);
}

#btndices {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
}

.Deck {
  display: grid;
  color: red;
  background-color: aliceblue;
  height: 100px;
  width: 100px;
}
